**/*.md
**/package-lock.json
**/npm-shrinkwrap.json
docs/
tools/
node_modules/
.git/
.cache/
out/
dist/
artifacts/
coverage/
src/renderer/src/i18n/generated/
project.inlang/*
!project.inlang/settings.json
